[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
coverage = "*"
pytest = "*"
pytest-icdiff = "*"
pylint = "*"
pytest-mock = "*"
requests = "*"
flake8 = "*"
pytest-pythonpath = "*"

[requires]
python_version = "3.8"

